/*
div {
  background-image: url('Digital_Hintergrund.jpg');
}
*/
.Platzfüller{
  border: 5px outset red;
  padding: 5px;
  background-color: rgb(0, 0, 0);
}

.ForumInfo{
  border: 5px outset red;
  background-color: rgb(0, 0, 0);
  background-image: url('Digital_Hintergrund.jpg');
  text-align: center;
  padding: 5px;
}

.Registrierung{
  border: 5px outset red;
  background-color: rgb(0, 0, 0);
  background-image: url('Digital_Hintergrund.jpg');    
  text-align: center;
  padding: 5px;
}

.Login{
  border: 5px outset red;
  background-color: rgb(0, 0, 0);
  background-image: url('Digital_Hintergrund.jpg');    
  text-align: center;
  padding: 5px;
}

.Link {
  border: 5px outset red;
  padding: 5px;
  background-color: rgb(0, 0, 0);
}