.Platzfüller{
  border: 5px outset red;
  padding: 5px;
}
.Text-zum-Projekt_Forum_Kolebski {
  border: 5px outset red;
  /*background-color: black;*/      
  text-align: center;
}
.Zurück_zur_Anmeldung {
  border: 5px outset red;
  /*background-color: black;*/      
  text-align: center;
}
.Diskussion_starten {
  border: 5px outset red;
  /*background-color: black;*/      
  text-align: center;
}